.shoppingcart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shoppingcart-shoppingcart {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.shoppingcart-tomato {
  top: 301px;
  left: 96px;
  width: 821px;
  height: 159px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.shoppingcart-text {
  top: 24px;
  left: 184px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text02 {
  top: 24px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text04 {
  top: 54px;
  left: 184px;
  color: rgba(66, 107, 31, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-inputfield {
  gap: 10px;
  top: 95px;
  left: 184px;
  width: 128px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.shoppingcart-text06 {
  top: 9.5px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-icon {
  top: 4px;
  left: 88px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.shoppingcart-union {
  top: 7.855770587921143px;
  left: 8.398505210876465px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.shoppingcart-edoneil-avvd-zlh-dow-aunsplash1 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
}
.shoppingcart-ginger {
  top: 491px;
  left: 96px;
  width: 821px;
  height: 159px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.shoppingcart-text08 {
  top: 24px;
  left: 184px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text10 {
  top: 54px;
  left: 184px;
  color: rgba(66, 107, 31, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-inputfield1 {
  gap: 10px;
  top: 95px;
  left: 184px;
  width: 128px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.shoppingcart-text12 {
  top: 9.5px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-icon1 {
  top: 4px;
  left: 88px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.shoppingcart-union1 {
  top: 7.855770587921143px;
  left: 8.398505210876465px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.shoppingcart-text14 {
  top: 24px;
  left: 740px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-noonbrewzi-cb4-kmakunsplash {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
}
.shoppingcart-onion {
  top: 681px;
  left: 96px;
  width: 821px;
  height: 159px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.shoppingcart-text16 {
  top: 24px;
  left: 184px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text18 {
  top: 54px;
  left: 184px;
  color: rgba(66, 107, 31, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-inputfield2 {
  gap: 10px;
  top: 95px;
  left: 184px;
  width: 128px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.shoppingcart-text20 {
  top: 9.5px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-icon2 {
  top: 4px;
  left: 88px;
  width: 32px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.shoppingcart-union2 {
  top: 7.855770587921143px;
  left: 8.398505210876465px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.shoppingcart-text22 {
  top: 24px;
  left: 730px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-k80fk--hulv-munsplash2 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
}
.shoppingcart-summary {
  top: 301px;
  left: 949px;
  width: 395px;
  height: 318px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(230, 230, 230, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  background-color: rgba(250, 250, 245, 1);
}
.shoppingcart-text24 {
  top: 24px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text26 {
  top: 82px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text28 {
  top: 82px;
  left: 319px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text30 {
  top: 119px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text32 {
  top: 119px;
  left: 326px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text34 {
  top: 156px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text36 {
  top: 156px;
  left: 327px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text38 {
  top: 193px;
  left: 24px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text40 {
  top: 190px;
  left: 314px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-button {
  gap: 8px;
  top: 246px;
  left: 24px;
  width: 347px;
  height: 48px;
  display: flex;
  padding: 10px 8px 10px 16px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(66, 107, 31, 1);
}
.shoppingcart-text42 {
  top: 14px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-icon3 {
  top: 8px;
  left: 299px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.shoppingcart-pageheading {
  top: 112px;
  left: 0px;
  width: 1440px;
  height: 149px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.shoppingcart-text44 {
  top: 90px;
  left: 301px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text46 {
  top: 56px;
  left: 96px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Newsreader;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-divider {
  top: 149px;
  left: 96px;
  width: 1248px;
  height: 1px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.shoppingcart-navigation {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 112px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.shoppingcart-text48 {
  top: 41px;
  left: 96px;
  color: rgba(66, 107, 31, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Newsreader;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text50 {
  top: 45.5px;
  left: 744px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text52 {
  top: 45.5px;
  left: 831px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text54 {
  top: 45.5px;
  left: 956px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-text56 {
  top: 45.5px;
  left: 1094px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.shoppingcart-cartbutton {
  gap: 8px;
  top: 32px;
  left: 1218px;
  width: 126px;
  height: 48px;
  display: flex;
  padding: 14px 23px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(66, 107, 31, 1);
}
.shoppingcart-text58 {
  top: 13.5px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
